{% load i18n %}

<p class="sd-back"><a href="{% url 'molo.servicedirectory:home' %}">< {% trans "Back" %}</a></p>

<p class="sd-heading search">
    {% trans "In which area would you like to find a service?" %}
</p>

<form action="{% url 'molo.servicedirectory:location-results'  %}" method="get" class="sd-search-form">

    <input type="text" name="location" value="{{ location_term }}"/>
    <input type="submit" value="{% trans "Search" %}" />

    <input type="hidden" name="q" value="{{ search_term }}" />

</form>
