{% extends 'servicedirectory/content_base.html' %}

{% block inner_content %}
    <h2 class="heading heading--service-dir-subtitle">Search by typing something, or choose a category below:</h2>
    <form action="{% url 'molo.servicedirectory:location-search' %}" method="get" class="service-directory__form">
        <fieldset>
        <input type="text" name="search" placeholder="I'm looking for..." />
        </fieldset>
        <input type="submit" value="Search" />
    </form>
    <div class="service-directory__listings">
    {% for category in categories_keywords %}
    <a class="service-directory__title" href="{% url 'molo.servicedirectory:location-search' %}?search={{ category.name }}">{{ category.name }}</a>
    <ul class="service-list">
        {% for keyword in category.keywords %}
        <li class="service-list__item">
            <a href="{% url 'molo.servicedirectory:location-search' %}?search={{ keyword }}" class="service-directory__search-term">{{ keyword }}</a>
            {% if not forloop.last or and_more %}, {% endif %}
        </li>
        {% endfor %}
        <li class="service-list__item">
        {% if and_more %}
            <a href="{% url 'molo.servicedirectory:home' %}?category={{ category.name }}">and more...</a>
        {% endif %}
        </li>
    {% endfor %}
    <div style="clear: both"></div>
    </div>
{% endblock %}
