{% extends 'servicedirectory/content_base.html' %}

{% block inner_content %}

    <h1 class="sd-heading search">What are you looking for?</h1>

    <form action="{% url 'location-search' %}" method="get" class="sd-search-form">

        <input type="text" name="search" />
        <input type="submit" value="Search" />

        <br/>
        <span class="sd-help-text search">Search for something, or choose a category or keyword below:</span>

    </form>

    <br/>

    {% for category in categories_keywords %}
        <h1 class="sd-heading category-grouping">
            <a href="{% url 'location-search' %}?search={{ category.name }}">{{ category.name }}</a>
        </h1>
        <div class="sd-category-keywords">
        {% for keyword in category.keywords %}
            <a href="{% url 'location-search' %}?search={{ keyword }}">{{ keyword }}</a>{% if not forloop.last or and_more %}, {% endif %}
        {% endfor %}
        {% if and_more %}
            <a href="{% url 'home' %}?category={{ category.name }}">and more...</a>
        {% endif %}
        </div>
        <hr/>
    {% endfor %}

{% endblock %}
