{% extends 'servicedirectory/content_base.html' %}

{% load i18n %}

{% block inner_content %}

    <h1 class="sd-heading send-sms">
        {% trans "Do you want to send this service to yourself? It's free!" %}
    </h1>

    <form action="{% url 'molo.servicedirectory:organisation-sms' organisation_id %}" method="post">
        {% csrf_token %}
        <div class="sd-input">
            <label for="cell_number">{% trans "Your cellphone number" %}</label>
            <input type="tel" id="cell_number" name="cell_number" required/>
            <span class="sd-input-sub">
                * {% trans "This number is safe with us" %}
            </span>
        </div>
        <button type="submit" class="sd-sms-btn">{% trans "Send" %}</button>
    </form>

{% endblock %}
