{% extends 'servicedirectory/content_base.html' %}

{% block inner_content %}

    <h1 class="sd-heading send-sms">
        Who do you want to send this service to? It's free!
    </h1>

    <form method="post">
        {% csrf_token %}
        <div class="sd-input">
            <label for="your_name">Your Name</label>
            <input type="text" id="your_name" name="your_name" required/>
        </div>
        <div class="sd-input">
            <label for="cell_number">Their Cellphone number</label>
            <input type="tel" id="cell_number" name="cell_number" required/>
            <span class="sd-input-sub">*This number is safe with us</span>
        </div>
        <button type="submit" class="sd-sms-btn">Send to Someone</button>
    </form>

{% endblock %}