{% extends 'servicedirectory/content_base.html' %}

{% block inner_content %}
    <h1 class="heading heading--service-dir-subtitle">Do you want to send this service to yourself? It's free!</h1>
    <form action="{% url 'molo.servicedirectory:organisation-sms' organisation_id %}" method="post" class="service-directory__form">
    {% csrf_token %}
        <fieldset>
            <label for="cell_number">Your cellphone number</label>
            <input type="tel" id="cell_number" name="cell_number" required/>
            <span class="input-hint">*This number is safe with us</span>
        </fieldset>
        <input type="submit" name="send" value="Send" />
    </form>
{% endblock %}
