{% extends 'servicedirectory/content_base.html' %}

{% load staticfiles %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'servicedirectory/sd-base.css' %}"/>
{% endblock %}

{% block inner_content %}

    {% if message %}
    <div class="sd-msg">
        {{ message }}
    </div>
    {% endif %}

    <h1 class="sd-heading svc-org-name">{{ service.name }} - {{ service.organisation.name }}</h1>

    <div class="sd-service-categories">
        {% for category in service.categories %}
        <span class="category">
            {{ category.name }}
        </span><br/>
        {% endfor %}
    </div>

    {% if service.age_range_min and service.age_range_max %}
    <div class="sd-service-ages">
        {{ service.age_range_min }}-{{ service.age_range_max }} years
    </div>
    {% endif %}

    <hr style="clear: both;"/>

    <h1 class="sd-heading service-keywords">What we do</h1>

    <p class="sd-service-keywords">
    {% for keyword in service.keywords %}
        {{ keyword.name }}{% if not forloop.last %}, {% endif %}
    {%  endfor %}

    </p>

    <hr/>

    <h1 class="sd-heading org-contact">Contact</h1>

    <p class="sd-org-contact">
        {% if service.organisation.telephone %}
        <span class="tel">
            {{ service.organisation.telephone }}
        </span><br/>
        {% endif %}
        {% if service.organisation.email %}
        <span class="email">
            {{ service.organisation.email }}
        </span><br/>
        {% endif %}
        {% if service.organisation.web %}
        <span class="web">
            {{ service.organisation.web }}
        </span>
        {% endif %}
    </p>

    <hr/>
       <a href="{% url 'service-sms' service.id %}" class="sd-sms-button">Send Service to Someone</a>
    <hr/>

    <h1 class="sd-heading service-tradinghours">Trading Hours</h1>

    <p class="sd-service-tradinghours">
        {{ service.availability_hours }}
    </p>

    <hr/>

    <h1 class="sd-heading org-address">Address</h1>

    <p class="sd-org-address">
        {{ service.organisation.address }}
    </p>

    <hr/>
       <p class="sd-self-sms">Want to find this service easily again?</p>
       <a href="{% url 'service-sms-self' service.id %}" class="sd-sms-button">Send This Service to Yourself</a>
    <hr/>

    <h1 class="sd-heading service-rating">How helpful was this?</h1>

    <form method="post" action="{% url 'service-rate' service.id %}">
        {% csrf_token %}
        <button type="submit" name="rating" value="poor" class="smiley sad"></button>
        <button type="submit" name="rating" value="average" class="smiley neutral"></button>
        <button type="submit" name="rating" value="good" class="smiley happy"></button>
    </form>

    <hr/>

    <a href="{% url 'service-report' service.id %}?service_name={{ service.name | urlencode }}&org_name={{ service.organisation.name | urlencode }}">Report incorrect info</a>

{% endblock %}
