{% extends 'servicedirectory/content_base.html' %}

{% load staticfiles %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'servicedirectory/sd-base.css' %}"/>
{% endblock %}

{% block inner_content %}

    {% if message %}
    <div class="sd-msg">
        {{ message }}
    </div>
    {% endif %}

    <h1 class="sd-heading svc-org-name">{{ organisation.name }}</h1>

    <div class="sd-service-categories">
        {% for category in organisation.categories %}
        <span class="category">
            {{ category.name }}
        </span><br/>
        {% endfor %}
    </div>

    {% if organisation.age_range_min and organisation.age_range_max %}
    <div class="sd-service-ages">
        {{ organisation.age_range_min }}-{{ organisation.age_range_max }} years
    </div>
    {% endif %}

    <hr style="clear: both;"/>

    <h1 class="sd-heading service-keywords">What we do</h1>

    <p class="sd-service-keywords">
     {{ organisation.about }}

    </p>

    <hr/>

    {% if organisation.telephone or organisation.email or organisation.web %}

        <h1 class="sd-heading org-contact">Contact</h1>

        <p class="sd-org-contact">
            {% if organisation.telephone %}
            <span class="tel">
                <a href="tel:{{ organisation.telephone }}">{{ organisation.telephone }}</a>
            </span><br/>
            {% endif %}
            {% if organisation.emergency_telephone %}
            <span class="tel">
                <a href="tel:{{ organisation.emergency_telephone }}" target="_blank">{{ organisation.emergency_telephone }}</a>
            </span><br/>
            {% endif %}
            {% if organisation.email %}
            <span class="email">
                <a href="mailto:{{ organisation.email }}">{{ organisation.email }}</a>
            </span><br/>
            {% endif %}
            {% if organisation.web %}
            <span class="web">
                <a href="{{ organisation.web }}" target="_blank">{{ organisation.web }}</a>
            </span>
            {% endif %}
        </p>

        <hr/>

    {% endif %}

    <a href="{% url 'service-sms' organisation.id %}" class="sd-sms-button">Send Service to Someone</a>

    <hr/>

    {% if organisation.availability_hours %}
        <h1 class="sd-heading service-tradinghours">Trading Hours</h1>

        <p class="sd-service-tradinghours">
            {{ organisation.availability_hours }}
        </p>

        <hr/>
    {% endif %}


    {% if organisation.address %}
        <h1 class="sd-heading org-address">Address</h1>

        <p class="sd-org-address">
            {{ organisation.address }}
        </p>

        <hr/>
    {% endif %}

    <p class="sd-self-sms">Want to find this service easily again?</p>
    <a href="{% url 'service-sms-self' organisation.id %}" class="sd-sms-button">Send This Service to Yourself</a>

    <hr/>

    <h1 class="sd-heading service-rating">How helpful was this?</h1>

    <form method="post" action="{% url 'service-rate' organisation.id %}">
        {% csrf_token %}
        <button type="submit" name="rating" value="poor" class="smiley sad"></button>
        <button type="submit" name="rating" value="average" class="smiley neutral"></button>
        <button type="submit" name="rating" value="good" class="smiley happy"></button>
    </form>

    <hr/>

    <a class="sd-report-link" href="{% url 'service-report' organisation.id %}?service_name={{ organisation.name | urlencode }}&org_name={{ organisation.name | urlencode }}">Report incorrect info</a>

{% endblock %}
