.sd-msg {
    border: 1px solid #dceab8;
    background-color: #f0f5df;
    padding: 5px;
}

/* ref: https://www.wirehive.net/blog/2014/08/12/pure-css */
button.smiley {
    position: relative;
    width: 64px;
    height: 64px;
    border: 2px solid #000;
    border-radius: 60px;
    background-color: #FFF;
    cursor: pointer;
}

button.smiley:before {
    content: '';
    position: absolute;
    top: 20px;
    left: 50%;
    width: 14px;
    height: 4px;
    margin-left: -10px;
    border-left: 3px solid #000;
    border-right: 3px solid #000;
}

button.smiley.sad:after {
    content: '';
    position: absolute;
    top: 35px;
    left: 50%;
    width: 30px;
    height: 10px;
    margin-left: -17px;
    border-top: 2px solid #000;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
    border-radius: 15px 15px 0 0;
}

button.smiley.sad:hover {
    border-color: #ff0000;
}

button.smiley.neutral:after {
    content: '';
    position: absolute;
    top: 37px;
    left: 50%;
    width: 30px;
    height: 2px;
    margin-left: -15px;
    background-color: #000;
}

button.smiley.neutral:hover {
    border-color: #ffcc00;
}

button.smiley.happy:after {
    content: '';
    position: absolute;
    top: 35px;
    left: 50%;
    width: 30px;
    height: 10px;
    margin-left: -17px;
    border-bottom: 2px solid #000;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
    border-radius: 0 0 15px 15px;
}

button.smiley.happy:hover {
    border-color: #008000;
}
